# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-publica
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key-secreta

# App
NEXT_PUBLIC_SITE_NAME="Himnario Digital"
NEXT_PUBLIC_SITE_URL=http://localhost:3000
